@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/Roboto_Mono/static/RobotoMono-Light.ttf') format('truetype');
    /* font-weight: normal;
    font-style: normal; */
}

body {
    font-family: 'MyCustomFont', monospace;
}

.text-large {
    font-size: 24px;
}

.text-medium {
    font-size: 20px;
}

.text-small {
    font-size: 16px;
}